.popup__edit-area {
    margin: 0 auto;
    padding-top: 54px;
    width: 100%;
    height: 27px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__edit-area:last-of-type {
    margin: 30px auto 48px;
    padding: 0;
}

@media screen and (max-width: 620px) {
    .popup__edit-area {
        padding-top: 75px;
    }

    .popup__edit-area:last-of-type {
        margin: 30px auto 45px;
    }
}